body {
  background: lightsteelblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  font-size: 30px;
}

select {
  display: block;
  width: 100%;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid lightskyblue;
  opacity: 0.5;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background: whitesmoke;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.city {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.time {
  padding-top: 20px;
  font-size: 60px;
}

.date {
  opacity: 0.5;
}
